* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --font--small: 0.8rem;
    --opacity--color:rgba(0, 0, 0, 0.048);
    --font--paragraphs: 'Ultra', serif;
    --font--title: 'Noto Sans', sans-serif;
    --font--banner: 'Alkatra', cursive;
    --card--color: rgb(229, 233, 245);
    --card--shadow: 10px 10px 5px rgba(0,0,0,0.5);
    --btn--color: #5E04D9;
}


.footer__body {
    display:flex;
    justify-content: center;

    width:100%;
    margin-top: 3rem;
    padding: 1rem 0;
    background-color:aliceblue;
}
.redes {
    padding-top: 1rem;
    list-style: none;
    text-decoration: none;
    display:flex;
    justify-content:space-between;
}

.redes__image {
    height: 2rem;
}

.mycontainer {
    background-color: #00a2ff;
    margin: 0 auto;
    width:100%;
    max-width:1400px;
}

a {
    outline: none;
    text-decoration: none;

  }


/* BANNER */
/* image container */
.carrousel-special-background {
    display: block;
    height:auto;
    background-color:  #1428CC;
}
.carrousel-special-image {
    width: 100%;
    height: 15rem;
}
/* .hidden_in_small_screen {
    display:hidden;
} */
.banner-text {
    display:none;
    width:100%;
    margin: 0 auto;
    align-self: center;
    text-align: center;
    font-family: var(--font--banner);
    font-size: 8vw;
    font-weight: 600;
    color: white;
    flex-wrap: wrap;
}

.carrousel-special-image {
    object-fit:cover;
    object-position: center;
}

@media (min-width:1900px) {
    .banner-text {
        font-size: 7rem;  
    }
}


.black {
    color:black;
}

/* NAVBAR */
.username {
    color:white;
}
.username:hover {
    color:white;
}
.navbar-nav a {
    margin: auto 1rem;
}

.btn-mycolor {
    background-color: var(--btn--color);
    border-color: var(--btn--color);
    color: white;
}
.btn-mycolor:hover {
    background-color: var(--btn--color);
    border-color: var(--btn--color);
    color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.btn-warning-special {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color:white;
}

.btn-warning-special:hover {
    background-color:var(--btn--color);
    border-color:var(--btn--color);
    color:white;

}






/* UP THE PREVIOUS STYLES */


/* MOBILE FIRST */

/* BASE_GALERY */

.galery__container {

    display:flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:0.5rem;
}

/* flex para calcular el height de la card */
.galery__card--link--arround {
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color:black;

    width:100%;
    height:100%;
    border-radius: inherit;
}

.galery__card {
    background-color: var(--card--color);
    box-shadow: var(--card--shadow);
    border-radius: 1rem;
    padding: 0.5rem;
    width:45%;
    max-width: 180px;
    min-width: 110px;
}

.card__header {

    height: 10rem;
    width:100%;
    border-radius: inherit;
}

.card__header--image {
    display:block;
    margin: 0 auto;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* aprovechando la herencia para cambiar el shrink grow
del footer */
.card__body {

    display:flex;

    flex-shrink: 0;
    flex-grow: 1;

    flex-direction: column;
    justify-content: space-between;
        
}




.card__body--title {
    min-height: 3rem;
    overflow: hidden;
}

.card__body--text {

    overflow: hidden;
}

.card__body--status {
    font-size: var(--font--small);
    flex-shrink: 2;
    flex-grow: 0;
}

.card__body--unfollow {
    font-size: var(--font--small);
    flex-shrink: 2;
    flex-grow: 0;
}

.card__body--unfollow--btn {
    background-color: orange;
    margin: 0.2rem 0;
    padding: 0.1rem;
    border-radius: 0.4rem;
    display:block;
    
}

.card__footer {    
    align-self: flex-end;
    flex-shrink: 2;
    flex-grow: 0;
}

/* LISTING */

.listing__grid--container {
    width:100%;
    margin: 0 auto;
    max-width: 900px;
    background-color: var(--card--color);
    box-shadow: var(--card--shadow);

    padding:1rem;
    border-radius: 1rem;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "title title"
    "image image"
    "image image"
    "text text"
    "bid bid"
    "btn btn";
}

.listing__image--container{
    grid-area: image;
    border-radius: inherit;
}
.listing__image{
    display:block;
    object-fit:contain;
    border-radius: inherit;
    margin: 0 auto;
    width: 100%;
}
.listing__body--header {
    grid-area: title;
    text-align: center;
}

.listing__body--main {
    grid-area: text;
}

.listing__body--footer{
    grid-area: btn;
    padding: 1rem;
    margin: 0 auto;
}

.bid__card {
    padding: 1rem;
    grid-area: bid;
    text-align:center;
}

/* boostrap class */
.input-group {
    width: 100%;
    max-width:300px;
    flex-wrap: nowrap;
    margin: 0 auto;
}
@media (min-width:500px) and (max-width:749px) {
    .carrousel-special-background {
        display: unset;
    }
    .banner-text {
        display: none;
    }


    .galery__card {
        width:30%;
    }
    .listing__grid--container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "image image title title"
        "image image text text"
        "bid bid btn btn";     
    }
    .listing__body--footer{
        margin: 0 0 0 auto;
        align-self: flex-end;
    }
    .listing__body--main {
        padding-left: 0.5rem;
    }
}

@media (min-width:750px) {
    .banner-text {
        display: block;
    }
    .carrousel-special-background {
        display: flex;
        align-content:center;
    }
    
    .galery__card {
        width:15%;
        min-width: 160px;
    }
    .listing__grid--container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "title title title title"
        "image image text text"
        "image image text text"
        "bid bid bid btn"
       ;
    }
    .listing__body--header {
        padding: 1rem 0;
    }
    .listing__body--footer{
        margin: 0 0 0 auto;
        align-self: flex-end;
    }
    .bid__card {
        padding: 1rem 0 1rem 3rem;
        margin: 0 auto 0 0;
    }
    .input-group {
        font-size: 0.8rem;
    }
    .listing__body--main {
        padding: 0 1rem;
    }
}