{% extends "auctions/layout.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block body %}



    <!-- MESSAGE -->
    {% if mesagge %}
    <div class="alert alert-primary">{{message}}</div>
    {% endif %}

    {% block body_title %}
    {% endblock %}

    <hr>
   
    <!-- LISTING GALERY -->
    <!-- galery__container is a class for give style to the background galery i also add a contaner bootstrap class-->
    <section class="galery__container">

    {% for listing in listings %}
        {% if listing.active or watchlist %}

        
        <section class="galery__card">
            <a class="galery__card--link--arround" href="{% url 'listing' listing.id %}">
                <!-- <div class="card"> -->
                <!-- <header class="card__header"> -->
                    <figure class="card__header">
                    {% if listing.image %}
                        <img class="card__header--image" src="{{listing.image}}"  alt="{{listing.name}} image">
                    {% else %}
                        <img class="card__header--image" src="{% static 'auctions/default.jpg' %}" alt="{{listing.name}} image">
                    {% endif %}
                    </figure>
                <!-- </header> -->

                <main class="card__body">
                    <h5 class="card__body--title">{{listing.short_name}}</h5>
                    <p class="card__body--text">{{listing.short_description}}</p>

                {% if watchlist %}


                    {% if listing.active %}
                        <span class="card__body--status">Status: Active</span>
                    {% else %}
                        <span class="card__body--status">Status: Closed</span>
                    {% endif %}

                    {% if user.id == listing.seller.id %}
                        <span class="card__body--status"><u>This is your Listing!!</u></span>
                    {% else %}
                        <p></p>
                    {% endif %} 

                    

                    
                    <div class="card__body--unfollow">
                        <form action="{% url 'remove_from_watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="favorite_id" value="{{listing.id}}">
                            <input type="submit" class="card__body--unfollow--btn" value="Unfollow">
                            </form>
                    </div>
                    
                {% endif %}
                    
                    <span class="card__footer">Price: {{listing.price}}.00$</span>
                </main>
            </a>
        </section>
            

        {% endif %}

       
        {% empty %}
            <h3> No Listings</h3>
        {% endfor %}
    <!-- end row -->
    </section>

    <!-- END LISTING GALERY -->

    {% block body_buttom %}
    {% endblock %}


{% endblock %}