{% extends "auctions/layout.html" %}

{% block body %}
<!-- <div class="row justify-content-center aling-items-center m-3"> -->
    <div class="text-center">
        <h2>Select one Category</h2>
    </div>
<!-- </div> -->
<hr>
<!-- <div class="row justify-content-center aling-items-center"> -->
<div class="container p-2 text-center">

{% for category in categories %}
        <!-- <div class="col-auto"> -->
            <a href="{% url 'category' category.id %}">
            <div class="btn m-2 btn-lg btn-mycolor">
                {{category.category}}
            </div>
            </a>
        <!-- </div> -->
 
{% endfor %}
</div>
{% endblock %}