{% extends "auctions/base_galery.html" %}
{% load static %}

{%  block header %}
<!-- CARRUSEL -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <div class="d-block w-100">
                
                <div class="row">
                    
                    <div class="col-0 col-sm-5 col-md carrousel-special-background">
                        <h2 class="banner-text">Make Your Bids</h2> 
                    </div>

                    <div class="col-12 col-sm-7 col-md-auto carrousel-special-background">
                        <img class="carrousel-special-image" src="{% static 'auctions/bid.jpg' %}" alt="...">
                    </div>
                    

                </div>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <div class="d-block w-100">
                <div class="row">
                    
                    <div class="col-0 col-sm carrousel-special-background">
                        <h2 class="banner-text">Win a Lot of Money</h2>  
                    </div>

                    <div class="col-12 col-sm-7 col-md-auto carrousel-special-background"> 
                        <img class="carrousel-special-image" src="{% static 'auctions/treasure.jpg' %}"  alt="...">
                    </div>

                    

                </div>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <div class="d-block w-100">
                <div class="row">
              
                    <div class="col-12  carrousel-special-background">
                        <img class="carrousel-special-image" src="{% static 'auctions/money.jpg' %}"  alt="...">
                    </div>   
                </div>
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- CARRUSEL END -->
{% endblock %}


{% block body_title %}
<h2 class="text-center" >Active Listings</h2>
{% endblock %}
    