{% extends 'auctions/layout.html' %}
{% load static %}


{% block body %}

{% if not listing.active %}
    {% if best_bid %}
        {% if best_bid.offerent.id == request.user.id %}
        <div class="alert alert-primary text-center">
            <h1>Congratulations!! You Won This Listing!!</h1>
        </div>
        {% endif %}
    {% endif %}
{% endif %}


        <!-- LISTING CARD -->
        <section class="listing__grid--container" >
            

                <!-- IMAGE -->
                <figure class="listing__image--container" >
                    
                        {% if listing.image %}
                        <img src="{{listing.image}}" class="listing__image" style="max-height:30rem; max-width:25rem;" alt="{{listing.name}} image">
                        {% else %}
                        <img src="{% static 'auctions/default.jpg' %}" class="listing__image" style="max-height:30rem; max-width:25rem;"  alt="{{listing.name}} image">
                        {% endif %}
                    
                </figure>
            
                <!-- TEXT CONTAINER -->
                    
                    <header class="listing__body--header">
                        <h2 class="listing__title">{{listing.name}}</h2>
                    </header>  

                    <main class="listing__body--main">
                        <h4>Description:</h4>
                        <p >{{listing.description}}</p>

                        <ul>
                            {% if listing.active %}
                            <li>Status: Active</li>
                            {% else %}
                            <li>Status: Closed</li>
                            {% endif %}
                            <li>Category: {{listing.category}}</li>
                            <li>Seller: {{listing.seller}}</li>
                            <li>Actual Price: {{listing.price}}.00 $</li>
                            <li>Bids: {{listing.count}}</li>
                        </ul>
                    </main>

                    <!-- BUTTONS -->
                    <footer class="listing__body--footer">

                        <!-- redirect to login page -->
                        {% if not user.is_authenticated %}
                            <span>For interact please login</span>
                            <a href="{% url 'login' %}" class="btn btn-mycolor m-auto">Login</a>
                            
                        {% else %}
    
                            {% if request.user.id == listing.seller.id and listing.active %}
                            <!-- CLOSE -->                                 
                                <form action="{% url 'close_listing' %}" method="post">
                                    {% csrf_token %}
                                    <button value="{{listing.id}}" name="listing_id" class="btn  mb-3 btn-mycolor m-auto">Close</button>
                                </form> 
                            {% endif %}
    
                            {% if favorite %}
                            <!-- UNFOLLOW -->
                                <form action="{% url 'in_listing_remove_to_watchlist' %}" method="post">
                                    <input type="hidden" name="favorite_id" value="{{listing.id}}">
                                    {% csrf_token %}
                                    <input class="btn btn-mycolor m-auto" type="submit" value="Unfollow">
                                </form>

                            {% else %}
                            <!-- FOLLOW -->
                                
                                
                                    <a name="listing" href="{% url 'add_to_watchlist' listing.id %}" class="btn btn-mycolor m-auto">Follow</a>
                                
                            {% endif %}
                        
                        {% endif %}
                    </footer>


            {% if user.is_authenticated and listing.active %}
            <!-- BID CARD -->
            <article class="bid__card">

                <!-- MESSAGE -->
                {% if message %}
                <div class="bid__message alert alert-primary">
                    <span>{{message}}</span>
                </div>     
                {% endif %}

                <!-- MAKE A BID     -->
                <h2 class="bid__card--title">Make a Bid!!</h2>

                <!-- bootstrap classes -->
                <form action="" method="post">
                    {% csrf_token %}
                                
                    <div class="input-group">
                        {{bid_form.price}}
                        {{bid_form.listing}}
                        {{bid_form.offerent}}
                        <span class="input-group-text">$</span>
                        <input type="submit" class=" btn btn-mycolor" value="New Bid">  

                    </div>
                </form>  

            </article>
        {% endif %}
        </section>

    

<br>
<br>

<!-- COMENTARY SECTION -->
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <h2>Comentary Section</h2>
        <hr>
        <br>
        <h3>Make a Comment</h3>
        <!-- CREATE A COMMENTARY -->
        {% if user.is_authenticated %}
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{listing.id}}">
            <textarea class="form-control" name="commentary" id=""  rows="5" aria-placeholder="Description"></textarea>

            <div class="row justify-content-end p-1">
                <div class="col-auto">
                    <input class="btn btn-mycolor" type="submit" value="Comment">
                </div>
            </div>
        
        </form>
        {% endif %}

        <!-- COMMENTS -->

        <br>
        {% for comment in comments %}
        <div class="card">
            <div class="card-header">
            {{comment.user}}
            </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{comment.message}}</p>
                <span class="blockquote-footer">{{comment.date}}</span>

                {% if comment.user.id == request.user.id %}
                <div class="row justify-content-end p-1">
                    <div class="col-auto">
                        <form action="{% url 'remove_comment' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{listing.id}}">
                            <button value="{{comment.id}}" name="comment_id" class="btn btn-warning">Delete</button>
                        </form>
                    </div>
                </div>
                {% endif %}             
            </blockquote>
            </div>
        </div>

        

        {% empty %}
        <h5> There is not comment for this listing </h5>
        <h5>Be the <b>First</b> in Comment</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}