{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
    <div class="alert alert-primary">{{ message }}</div>
{% endif %}
<div class="row justify-content-center text-center">
<div class="p-3 col-12 col-md-6">

    <h2>Login</h2>

    
    <div class="row justify-content-center aling-items-center">

        <div class="col-12 col-md-8 col-lg-6">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group m-2">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>

                <div class="form-group m-2">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-mycolor mt-3 mb-2" type="submit" value="Login">
            </form>

            <span>Don't have an account? <a class="black" href="{% url 'register' %}"><b>Register here.</b></a></span>
        </div>
    </div>
</div>
</div>

{% endblock %}