{% extends "auctions/layout.html" %}

{% block body %}

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    <section class="row justify-content-center text-center">
        <div class="p-3 col-12 col-md-6">
        
            <h2>Register</h2>
        
            
            <div class="row justify-content-center aling-items-center">
        
                <div class="col-12 col-md-8 col-lg-6">

                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group p-1">
                            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group p-1">
                            <input class="form-control" type="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group p-1">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group p-1">
                            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        </div>
                        <input class="btn btn-mycolor mt-3 mb-2" type="submit" value="Register">
                    </form>
                
                    <span>Already have an account? <a class="black" href="{% url 'login' %}"><b>Log In here.</b></a></span>

                </div>
            </div>
        </div>
    </section>


    

{% endblock %}